body {
	font-family: arial,sans-serif;
	color: #222;
	display: flex;
	flex-direction: column;
}

a{
	text-decoration: none;
	color: #222;
}

li {
	list-style-type: none;
}

ul {
	display: flex;
}

nav {
	display: flex;
}

section {
	display:flex;
	flex-direction: column; 
	align-items: center;
}

.log-menu {
	justify-content: flex-end;
}

.footer-links {
	justify-content: space-between;
}