html {
	font-family: arial,sans-serif;
	color: #222;
	font-size: 13px;
    height: 100%;
    width: auto;
}

body {
    margin:0;
    height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    overflow: auto;
	min-width: 980px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li {
	list-style-type: none;
}

ul {
	display: flex;
	align-items: center;
	padding:0;
}

nav a {
	color: rgba(0,0,0,0.87);
}

.log-menu {
	display:flex;
	justify-content: flex-end;
	margin: 10px 0px;
}

header li{
	padding-left: 15px;
}

#log-button {
	color:white;
	background-color: #366ce5;
	font-weight: bold;
	height: 30px;
	border-radius: 2px;
	border: none;
	margin-right: 30px;
	}

#log-button:hover {
	box-shadow: 0px 1px 0px #bbb;
}


section {
	display:flex;
	flex-direction: column; 
	align-items: center;
	padding-bottom: 220px;
}

#logo {
	margin-bottom: 25px;
}

form {
	display: block;
	width: 428px;
	height:38px;
	margin-bottom: 29px;
}

input {
	width: 100%;
	height: 100%;
	border-radius: 2px;
	border:0.5px solid #efefef;
	box-shadow: 0px 2px 2px #ddd;
	background-image: url("img/micro.png");
	background-repeat: no-repeat;
	background-position: 405px center;
}

input:hover {
	box-shadow: 0px 2px 2px #666;
}

form:focus {
	box-shadow: none;
}

.search, .chance {
	background-color: #efefef;
	color: #777;
	font-weight: bold;
	border:1px solid #f2f2f2;
	border-radius: 2px;
	height:36px;
	min-width: 54px;
}

.search:hover, .chance:hover{
	color:black;
	border-color: #757575;
	background-color: #efefef;
	border:1px solid #bbb;
	box-shadow: 0px 1px 0px #bbb;
}

footer {
	min-height: 40px;
	border-top:1px solid #ddd;
	background-color:#efefef;
	display:flex;
	align-items: center;
	justify-content: space-between;
	width:100%;
	margin-top:10px;
}

footer li {
	color: #666;
	line-height: 40px;
	padding-left: 27px;
	white-space: nowrap;
}

#footer-links {
	width:100%;
	display: flex;
	justify-content: space-between;
	height: 30px;
	margin-right: 40px;
}